<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>POWspace</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="https://static.vline.com/vline.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
  <body>
    <div id = "container">
      <h1>Welcome to POWspace</h1>
        <div id = "sidebar">
          <button id="Login">Login</button>
          <button id="Call">Call</button>
        </div>

        <div class = "video_screen">
          <div class = "video_large"></div>
          <div class = "small_video"></div>
        </div>
        

    <script type="text/javascript" src="script.js"></script>
  </body>
</html>