h1 {
  position: relative;
  font-size: 40px;
}

#container {
  background-color: white;
  margin: auto;
  height: 600px;
  width: 900px;
}

#sidebar {
  float: left;
  height: 500px;
  width: 20%;
  background-color: pink;
}

.video_screen {
  position: relative;
  float: right;
  height: 500px;
  width: 667px;
}

.video_large {
  position: absolute;
  height: 500px;
  width: 667px;
  background-color: black;
}

.small_video {
  position: absolute; right: 0;
  height: 150px;
  width: 200px;
  background-color: green;
  z-index: 1;
}

.restrict {
  height: 150px;
  width: 200px;
}

.restrict-video-large {
  height: 500px;
  width: auto;
}

button {
  position: relative;
  margin: 15px auto;
  display: block;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: lightgray;
  font-size: 14px;
}

button:hover {
  background-color: darkgray;
}